@{
	ViewBag.pageTitle = "ApprovedOrders Management";
	ViewBag.CardTitle = "view Orders";
}
<br />
<table id="myTableThree" class="table table-hover" width="100%">
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>phoneNumber</td>
			<td>Email</td>
			<td>OrderStatus</td>
			<td>Total</td>
			<td>Actions</td>
		</tr>
	</thead>
</table>

@section scripts {
	<script src="~/js/ApprovedOrder.js"></script>
}





